.container {
  margin: 50px;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  width: 600px;
  height: 600px;
  margin: 0 auto;
  margin-top: 100px;

  .tic {
    width: 500px;
    height: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    section {
      width: 32.6%;
      height: 160px;
      border: 1px solid blue;
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 600;
      font-size: 24px;
      cursor: pointer;
    }
  }
}
